{% extends "flights/layout.html" %}
{% load static %}
{% block body %}
<style>
.flight {
opacity:0.8;
  color:#f9f9f9;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #1C1C1C; /* Slightly off-white background color */
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.flight:hover {
  background-color: #1d2d3d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect on hover */
  cursor: pointer;
  opacity:1;
}
.header{
	opacity:200%;
	color:#fff;
	text-align:center;
}
.op {
	opacity:11;
}
body {

  opacity:0.8;
  zoom:1.3;
  width: 100%;
    height: 100%;
    background-image: url("{% static 'flights_low.jpg' %}");
    background-size: cover;
    background-position: center;
}
</style>

	<a href="{% url 'flights' %}" class="link" style="zoom:1.23;display:block;float:none;text-align:center;">Back to flights</a>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th colspan="3" style="text-align: center; zoom:2.3; color: #333333; background:transparent;">Flight {{ flight.id }}</th>
    </tr>
    <tr>
      <th style="width: 33.33%; text-align: center;">Origin</th>
      <th style="width: 33.33%; text-align: center;">Destination</th>
      <th style="width: 33.33%; text-align: center;">Duration</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td style="text-align: center;">{{ flight.origin }}</td>
      <td style="text-align: center;">{{ flight.destination }}</td>
      <td style="text-align: center;">{{ flight.duration }}</td>
    </tr>
  </tbody>
</table>

	<h2 class="header cen" style="margin:30px auto; color:#222;">Passengers</h2>

	<ul>
		{% for passenger in passengers %}
			<li class="flight" style="text-align:center;">{{ passenger }}</li>
			{% empty %}
				<li class="flight">No Passengers.</li>
		{% endfor %}
	</ul>

	<div style="display:inline-block; width:100%;display:block;text-align:center;zoom:1.2;">
<h2 style="background-color:2C2C2C;">Add Passenger</h2>
	<form action="{% url 'book' flight.id %}" method='post'>
	{% csrf_token %}
			<select name="passenger" style="zoom:1.4; margin-top:0px;">
					{% for passenger in non_passengers %}
						<option value="{{ passenger.id }}">{{ passenger }}</option>
					{% endfor %}
			</select>
			<button type="submit" class="link" style="float:none; margin-bottom:100px;zoom:1;">Book</button>
	</form>
	</div>
{% endblock %}
