{% extends "users/layout.html" %}
{% load static %}
{% block body %}
<style>
body {
  opacity:0.4;
  zoom:1.3;
  width: 100%;
    height: 100%;
    background-image: url("{% static 'back.png' %}");
    background-size: cover;
    background-position: center;
}
</style>
	<a href="/flights" class="link" style="margin-top:20px;float:none;text-align:center;display:block;; zoom:1.5;padding:20px;">view flights</a>
	<a href="/users/" class="link" style="margin-top:10px;float:none;text-align:center;display:block;; zoom:1.5;padding:20px;">Information</a>
	<a href="/users/logout" class="link" style="margin-top:10px;float:none;text-align:center;display:block;; zoom:1.5;padding:20px;">logout</a>


{% endblock %}
