{% extends "users/layout.html" %}
{% load static %}
{% block body %}
<style>
.login-form input {
  background-color: rgba(255, 255, 255, 0.3); /* Background opacity of 0.3 */
  color: #233; /* Text color */
  border: 1px solid #ccc;
  /* Other input styles... */
}
.login-form button {
    color:white;
    background-color:rgba(48,48,48,0.3);
}
.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   background-color: rgba(255, 255, 255, 0.3);
  height:150%;
}
.org {
    float:right;
    background-color:rgba(48,48,48,0.3);

}
body {

  opacity:1;
  zoom:1.3;
  width: 100%;
    height: 100%;
    background-image: url("{% static 'flights_low.jpg' %}");
    background-size: cover;
    
</style>

  <div class="login-form">
    <h2>Login</h2>
    {% if message %}
            {% if message == "Logout Successful!" %}
                <div class="message" style="color:springgreen;">{{ message }}</div>
            {% else %}
                <div class="message">{{ message }}</div>
            {% endif %}
    {% endif %}
    <form action="/users/login/" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" autofocus autocomplete="off">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" autocomplete="off">
      </div>

      <button type="submit" class="btn btn-dark org">Login</button>
    </form>
  </div>

{% endblock %}

